* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: initial !important;
}

.wrapper {
  width: 800px;
  height: 425px;
  background-color: #0d1117;
  color: #c9d1d9;
  padding: 2rem;
  border-radius: 6px;
  font-family: 'SF Pro Display' !important;
}


.header {
  display: grid;
  width: max-content;
  grid-template-columns: repeat(4, max-content) auto;
  align-items: center;
  height: 50px;
}

.header > * {
  height: max-content;
  width: max-content;
}

.hero {
  width: auto;
  height: auto;
  transform: scale(0.165) translate(-5850px, 200px);
}

.divider {
  font-family: sans-serif;
  margin: 0 0.75rem;
  background-color: #c9d1d9;
  filter: opacity(0.5);
  height: calc(100% - 0.5rem);
  width: 1px;
}

.logo {
  height: 30px;
  width: 30px;
}

.fa-heart,
.fa-canadian-maple-leaf {
  color: #e34c26;
  filter: none;
  transform: translateY(3px);
}
